<html>
<head>
  <title>Compete</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
  <script src="javascripts/angularApp.js"></script>
  <script src="javascripts/factories/postsFactory.js"></script>
  <script src="javascripts/factories/authFactory.js"></script>
  <script src="javascripts/factories/usersFactory.js"></script>
  <script src="javascripts/controllers/postsController.js"></script>
  <script src="javascripts/controllers/authController.js"></script>
  <script src="javascripts/controllers/navController.js"></script>
  <script src="javascripts/controllers/profileController.js"></script>

  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="compete" ng-controller="MainCtrl">

  <!-- include navbar -->
  <% include ../public/templates/partials/navbar %>

  <!-- main app -->
  <div class="row">
	<div class="col-md-6 col-md-offset-3">
		<ui-view></ui-view>
	</div>
  </div>
</body>
</html>
