<nav class="navbar navbar-expand-lg navbar-dark bg-dark" ng-controller="NavCtrl">
  <span class="navbar-brand mb-01 h1" href="#">Compete</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
	  <li class="nav-item">
	    <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#todoModal">
		  To Do
		</button>
	  </li>
	</ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ng-show="isLoggedIn()">
	    <a class="nav-link" href="/#/profile/{{ currentUser() }}"><button class="btn btn-dark" type="button"> {{ currentUser() }} </button></a>
	  </li>
	  <li class="navbar-item active">
	    <a class="nav-link" href="#"><button class="btn btn-outline-info" type="button">Home</button></a>
	  </li>
	  <li class="nav-item" ng-hide="isLoggedIn()">
	    <a class="nav-link" href="/#/login"><button class="btn btn-outline-success" type="button">Log In</button></a>
	  </li>
	  <li class="nav-item" ng-hide="isLoggedIn()">
	    <a class="nav-link" href="/#/register"><button class="btn btn-outline-warning" type="button">Register</button></a>
	  </li>
	  <li class="nav-item" ng-show="isLoggedIn()">
	    <a class="nav-link" href="" ng-click="logOut()"><button class="btn btn-outline-danger" type="button">Log Out</button></a>
	  </li>
	</ul>
  </div>
</nav>

<div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
	  <div class="modal-header">
	    <h5 class="modal-title" id="todo">To Do</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
	    <ul>
		  <li>Add: Post picture support (auto-generating?)</li>
		  <li>Add: Language filtering and profile name filtering to prevent appearance of offensive language</li>
		  <li>Add: More security features</li>
		  <li>Add: User profile pictures</li>
		  <li>Add: User comment tracking</li>
		  <li>Add: User can delete their comments and posts</li>
		  <li>Add: Upvoting only once</li>
		  <li>Add: Retract upvote</li>
          <li><s>Fix: Registering under existing username with different password logs you in as user</s></li>
          <li><s>Add: Handle invalid URL's </s></li>
		</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
