<div class="container">
  <div class="text-center text-warning m-5">
    <h2 class="font-weight-bold">Register</h2>
  </div>
  <div class="row p-3 rounded text-white bg-dark mx-auto w-50">
    <div class="col">
    <form ng-submit="register()">
      <div class="form-group">
	    <label for="username">Username</label>
		<input type="text" class="form-control" id="username" ng-model="user.username" placeholder="Enter Username"></input>
		<small id="clever" class="form-text text-muted">Think of something clever!</small>
	  </div>
	  <div class="form-group">
	    <label for="password">Password</label>
		<input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Enter Password"></input>
		<small id="recommend" class="form-text text-muted">Write this down!</small>
	  </div>
	  <div class="text-center">
	    <button type="submit" class="text-center btn btn-outline-warning">Register</button>
	  </div>
	</form>
	</div>
  </div>
  <div ng-show="error" class="row mt-3">
    <div class="col-4 text-center offset-md-4 alert alert-danger">
	  <span>{{error.message}}</span>
	</div>
  </div>

</div>
